@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.mainContainer {
  background-image: url("../public/background.jpg");
  background-size: contain;
  backdrop-filter: blur(10px);
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
  background: rgba(247, 243, 243, 0.35);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: rgba(216, 194, 194, 0.35);
  box-shadow: 6px 8px 10px rgb(183, 185, 187, 0.5);
  backdrop-filter: blur(8px);
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: solid 1px rgb(196, 188, 188);
  outline: none;
  background-color: #e6b554;
  cursor: pointer;
  color: #eae3d2;
  border-radius: 75px;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(159, 200, 197);
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(104, 133, 131);
}

.message__recipient {
  background-color: #c0bd86;
  width: 400px;
  padding: 4px;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  box-shadow: 1px 4px 6px rgb(162, 179, 205);
}
.message__sender {
  background-color: rgb(159, 200, 197);
  max-width: 400px;
  padding: 4px;
  border-radius: 25px;
  margin-left: auto;
  font-size: 15px;
  display: flex;
  box-shadow: 1px 4px 6px #869ab8;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.__message {
  font-size: 13px;
  color: white;
}
.avatar__name {
  color: black;
}
.message__sender > .avatar {
  display: flex;
}
.message__content {
  padding: 0 10px 0 10px;
  inline-size: 340px;
  overflow-wrap: break-word;
}

.message__status {
  bottom: 0px;
  font-size: 13px;
  font-style: italic;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: #2196f3;
  color: white;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 4px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
}
